*{
    box-sizing: border-box;
    margin: 0px;
    /* border: solid purple 1px; */
}

.cabecalho{
    height: 70px;
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.menu-cabecalho{
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.cabecalho-logo{
    width: 150px;
    display: flex;
    justify-content: center;

}

.menu-cabecalho, .cabecalho-logo{
    line-height: 70px;
}

a{
    text-decoration: none;
    color: white;
}

h1{
    color: white;
}

@media (max-width: 430px){
    .menu-cabecalho{
        width: 300px;
        display: flex;
        justify-content: space-evenly;
        text-align: center;
    }
    .cabecalho-logo{
        width: 150px;
    }
}
