*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    border: 5px solid rgb(103, 11, 207);
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item{
    text-align: center;
    background-color: salmon;
}

.item1{
    background-color: rgb(18, 68, 231);
}

.item2{
    background-color: rgb(218, 57, 57);
}

.item3{
    background-color: rgb(25, 114, 25);
}
