*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    
}

.container div{
    width: 33.333%;
}

.verde{
    background-color: rgb(35, 99, 35);
}

.branco{
    background-color: white;
}

.laranja{
    background-color: orange;
}